{% extends "base.html" %}
{% block title %}CSVを比較する：項目の確認{% endblock %}
{% block content_title %}CSVを比較する：項目の確認{% endblock %}
{% block content %}
<form method="POST" action="{% url 'apps:result' %}">
<sction>
    <p class="h4">読み込んだCSV</p>
    <label class="h6">CSV1</label>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ヘッダー1</th>
                    <th scope="col">ヘッダー2</th>
                    <th scope="col">ヘッダー3</th>
                    <th scope="col">ヘッダー4</th>
                    <th scope="col">ヘッダー5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XXX</td>
                    <td>あああ</td>
                    <td>1000</td>
                    <td>1234</td>
                    <td>abcde</td>
                </tr>
                <tr>
                    <td>YYY</td>
                    <td>いいい</td>
                    <td>2000</td>
                    <td>5678</td>
                    <td>abcdefg</td>
                </tr>
            </tbody>
        </table>
    </div>
    <label class="h6">CSV2</label>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ヘッダー1</th>
                    <th scope="col">ヘッダー2</th>
                    <th scope="col">ヘッダー3</th>
                    <th scope="col">ヘッダー4</th>
                    <th scope="col">ヘッダー5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XXX</td>
                    <td>あああ</td>
                    <td>1000</td>
                    <td>1234</td>
                    <td>abcde</td>
                </tr>
                <tr>
                    <td>YYY</td>
                    <td>いいい</td>
                    <td>2000</td>
                    <td>5678</td>
                    <td>abcdefg</td>
                </tr>
            </tbody>
        </table>
    </div>
</sction>
<setion>
    <p class="h4">比較する項目</p>
    <p>CSV1のヘッダー1とCSV2のヘッダー1を比較する</p>
    <p>CSV1のヘッダー2とCSV2のヘッダー3を比較する</p>
</setion>
<section>
    <p class="h4">キーにする項目</p>
    <p>CSV1のヘッダー4とCSV2のヘッダー4をキーにする</p>
    <p>CSV1のヘッダー5とCSV2のヘッダー5をキーにする</p>
     <div class="form-group row justify-content-center">
        <div>
            <input type="button" class="btn btn-outline-secondary" id="page_back" value="戻る" />
            <input type="submit" class="btn btn-primary" value="比較する" />
        </div>
    </div>
</section>
    {% csrf_token %}
</form>
{% endblock %}