{% extends "base.html" %}
{% block title %}CSVを比較する{% endblock %}
{% block content_title %}CSVを比較する{% endblock %}
{% block content %}
{% load bootstrap4 %}

<section>
    <form method="POST" enctype="multipart/form-data" action="{% url "apps:setting_diff_column" %}">

        <div class="form-group">
            {% bootstrap_field form.csv1 label_class='h5' form_group_class=None %}
            {% bootstrap_field form.csv1_no_header form_group_class=None %}
        </div>
        <div class="form-group">
            {% bootstrap_field form.csv2 label_class='h5' form_group_class=None %}
            {% bootstrap_field form.csv2_no_header form_group_class=None %}
         </div>
        <div class="form-group row justify-content-center">
            <div>
                {% bootstrap_button "次へ" button_type='submit' button_class='btn-primary' %}
            </div>
        </div>
    {% csrf_token %}
    </form>
</section>
{% endblock %}