{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}CSVを比較する：比較項目の設定{% endblock %}
{% block content_title %}CSVを比較する：比較項目の設定{% endblock %}
{% block content %}
<form method="POST" action="{% url 'apps:setting_key_column' %}" id="main-form">
<sction>
    <p class="h4">読み込んだCSV</p>
    <label class="h6">CSV1</>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            {% for row in csv1 %}
            {% if forloop.first %}
            <thead class="thead-light">
                <tr>
                    {% for col in row %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% else %}
            {% if forloop.counter() == 1 %}
            <tbody>
            {% endif %}
                <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
                </tr>
            {% forloop.counter() == 1 %}
            </tbody>
            {% endif %}
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <label class="h6">CSV2</label>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            {% for row in csv2 %}
            {%  if forloop.first %}
            <thead class="thead-light">
                <tr>
                    {% for col in row %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% else %}
            {% if forloop.counter() == 1 %}
            <tbody>
            {% endif %}
                <tr>
                    {% for col in row %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% if forloop.counter() == 1 %}
            </tbody>
            {% endif %}
            {% endif %}
            {% endfor %}
        </table>
    </div>
</sction>
<section>
    <p class="h4">比較する項目</p>
    <div class="row">
        <label class="col-sm h6">CSV1</label>
        <label class="col-sm h6">CSV2</label>
        <label class="col-sm h6">詳細</label>
    </div>
    {% for form in formset %}
    <div class="form-group row diff-cols">
        {% bootstrap_field form.csv1_diff_col show_label=False form_group_class=None field_class='col-sm' %}
        {% bootstrap_field form.csv2_diff_col show_label=False form_group_class=None field_class='col-sm' %}
        <div class="col-sm">
            <p></p>
        </div>
    </div>
    {% endfor %}
    <div class="form-group row justify-content-around" role="group">
        <button type="button" class="btn btn-outline-dark col-sm" id="add_diff_row">項目を追加する</button>
        <button type="button" class="btn btn-outline-dark col-sm" id="delete_diff_row">項目を削除する</button>
    </div>
    <div class="form-group row justify-content-center">
        <div>
            <input type="button" class="btn btn-outline-secondary" id="page_back" value="戻る" />
            <input type="submit" class="btn btn-primary" value="次へ" />
        </div>
    </div>
</section>
    {% csrf_token %}
</form>
<form method="POST" action="{% url 'apps:index' %}" id="back-form">
    {% back_form %}
    {% csrf_token %}
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/setting-diff-column.js' %}"></script>
{% endblock %}